@import "../../App.scss";

.navbar {
  height: 100px;

  .wrapper {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @include mobile {
      justify-content: flex-end;
    }

    span {
      font-weight: bold;
      @include mobile {
        display: none;
      }
    }
    .socials {
      display: flex;
      gap: 20px;
      a {
        height: 18px;
        width: 18px;
      }
    }
  }
}
