@import "../../App.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;

  .bg {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    background: white;

    @include mobile {
      width: 200px;
    }

    .links {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      gap: 20px;
      a {
        text-decoration: none;
        color: black;
        font-size: 30px;
        @include mobile {
          font-size: 20px;
        }
      }
    }
  }
  button {
    z-index: 1;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
}
